@charset "utf-8";

/* CSS Document */

body {
    background-position: top;
    background-repeat: repeat-x;
    margin: 0;
    font-family: "Rubik", sans-serif;
}

#container {
    width: 1000px;
    margin: 0 auto;
}



#banner_logo {
    float: right ;
    
}




#left {
    width: 196px;
    float: left;
}

#content {
    width: 588px;
    float: left;
    margin-left: 10px;
}



.cart {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    position: fixed;
    top: 140px;
    right: 0px;
    z-index: 450px;
  }

  
  .cart-item-count, .cart-total, .cart-view-btn {
    display: flex; 
  }
  
  
  @media (max-width: 999px) {
    
    .cart .cart-item-count, .cart .cart-total, .cart .cart-view-btn {
      display: none;
    }
  
    .cart i.fas.fa-shopping-cart {
      font-size: 32px; 
    }
  }

#footer {
    /* height: 80px; */
    color: #847676;
    font-size: 20px;
    text-align: center;
    line-height: 20px;
    font-style: italic;

    padding: 50px;
}

.title {
    line-height: 30px;
    text-align: center;
    color: #FFF;
    font-weight: bold;
    background-color: #504b4b;
    border-radius: 10px 10px 0 0;
    margin-top: 10px;
}


.marquee-paused {
    opacity: 0.5; /* Reduce opacity to indicate paused state */
  }
  

.center_title {
    line-height: 33px;
    color: #847676;
    font-weight: bold;
    padding-left: 50px;
    background: url(../images/layout/bar_bg.gif) no-repeat center;
}

.center_content {
    padding: 7px;
}

.product_box {
    width: 173px;
    height: auto;
    float: left;
    padding: 9px;
}

.pro_box_top {
    height: 12px;
    background-image: url(../images/layout/product_box_top.gif);
}

.pro_box_bot {
    height: 10px;
    background-image: url(../images/layout/product_box_bottom.gif);
}

.pro_box_mid {
    background-image: url(../images/layout/product_box_center.gif);
}

.pro_title {
    text-align: center;
    font-weight: bold;
    color: #F00;
    font-size: 14px;
}


.pro_price {
    text-align: center;
    color: #F00;
    font-weight: bold;
    width: 50%;
    float: left;
    font-size: 14px;
}

.oldprice {
    text-align: center;
    color: #847676;
    text-decoration: line-through;
    width: 50%;
    float: right;
    font-size: 14px;
}

.pro_cart {
    width: 50%;
    float: right;
    font-size: 10px;
    text-align: center;
}

.pro_cart a {
    text-decoration: none;
    color: #0fa0dd;
}

.pro_img {
    text-align: center;
    padding: 5px 0px;
}

.pro_img img {
    height: 100px;
}



.search-container {
    display: flex;
    margin-top: 10px;
}

input[type="text"] {
    padding: 10px;
    width: 140px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    outline: none;
}

button {
    padding: 5px 8px;
    background-color: #1e0f74;
    color: white;
    border: 1px solid #1d0963;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

button:hover {
    background-color: rgb(104, 116, 2);
    border: 1px solid rgb(104, 116, 2);
}

/* Font Awesome Icon */
button i {
    margin-right: 5px;
}

.price2
{
	text-align:center; color:#F00; width: auto; height: auto; float:left; font-size:20px;
    margin-top: 10px;
}




#wrapper{
    /* max-width: auto; */
    margin: 0 auto;
    /* padding: 10px 0px; */
    /* display: flex; */
   

}


nav{
    background-color: white;
    /* max-width: 1200px; */
    height: 40px;
    padding: 0px 20px;
    
    border-top: 0.5px solid #f1f2f6 ;
    border-bottom: 0.5px solid #f1f2f6 ;
    
    
    
}
ul{
    list-style-type: none;
    
}



.main-menu{
    display: flex;
    font-size: 15px;
    color: black;
    font-weight: 550;
    text-transform: uppercase;


}

nav .main-menu li a{
    color: black;
    text-decoration: none;
    display: block; /*tác dong vao padding */
    padding: 10px 15px;
    font-weight: 650;
    margin-left: 35px;
    

}
/

#toggle{
    display: none;
    font-size: 25px;
    padding: 10px;
    text-align: right;
    cursor: pointer;


}










